[Unit]
Description=Python HTTP Server on port 4010
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/totd/tips
ExecStart=/usr/bin/python3 -m http.server 4010
Restart=on-failure

[Install]
WantedBy=multi-user.target
