[Unit]
Description=PM2 process manager
After=network.target

[Service]
Type=forking
User=adminuser
ExecStart=/usr/bin/pm2 start
ExecReload=/usr/bin/pm2 reload
ExecStop=/usr/bin/pm2 stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
